/*  #F20089  #2D00F7 */
@media all and (min-width: 601px) {
  .appbar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    width: 280px;
    height: 100vh;
  }
  .mynav {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
  }
  .appbar-element {
    text-decoration: none;
    padding: 0.75rem;
    border-radius: 0.25rem;
    color: #2d00f7;
  }
  [class="appbar-element"]:hover {
    background-color: lightgray;
    color: #2d00f7;
  }
  .active-link {
    background-image: linear-gradient(to right, #f20089, #2d00f7);
    color: white;
  }
  .active-link:hover {
    background-image: linear-gradient(to right, #f20089, #2d00f7);
    color: white;
  }
  .navtext {
    margin-left: 1rem;
  }
}

@media all and (max-width: 600px) {
  .appbar {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    font-size: 2rem;
    height: 80px;
    background-color: white;
    border-radius: 0.75rem 0.75rem 0 0;
  }
  .mynav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .logoimg,
  .navtext,
  hr,
  h6 {
    display: none;
  }
  .appbar-element {
    color: #2d00f7;
  }
  .appbar-element:hover {
    color: #f20089;
  }
  .active-link{
      position: relative;
    color: #f20089;
  }
  .active-link::before{
      content: '';
      width: 100%;
      height: 4px;
      position: absolute;
      bottom: 0px;
      background-image: linear-gradient(to right, #f20089, #2d00f7);
      animation: activemarkerAnimation 0.2s 1 ;
  }
}

@keyframes activemarkerAnimation {
    from {width: 0%;}
    to {width: 100%;}
}