
.trip-card-container{
    place-self: center;
    border: #d4d4d4 1px solid;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    height: 150px;
    width: 100%;
    background-color: #e7e7e8; /* fallback */
    background-image: linear-gradient(180deg, #E9ECEF, #CED4DA);
    overflow: hidden;
}

.trip-card-container:hover {
    filter: drop-shadow(0 0 10px #AAA);
}